{% extends "index.html" %}

{% block main %}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="content">
      <h4>Code of Conduct</h4>
      <ol>
        <li>
          <b>Truth</b>
          <br/>
          <ul>
            <li>Truth exists by itself, seperate from you.</li>
            <li>Truth exists independet from its way of discovery.</li>
            <li>Truth exists independent from attention.</li>
            <li>Everything that is not true, becomes parasitic, because it has to be kept
            artificially alive, aka increases enthropy.</li>
          </ul>
        </li>

        <li>
          <b>Love</b>
          <br/>
          <ul>
            <li>Love exists in you.</li>
            <li>Love creates empathy, because it is your emotional connection to others.</li>
            <li>Love changes who you are and what you do.</li>
            <li>Everything emotion that is not Love, will exaust you over time, because it
              disconnects you from who you realy are.</li>
          </ul>
        </li>

        <li>
          <b>Consciousness</b>
          <br/>
          <ul>
            <li>Consciousness is a passive process and can not be forced.</li>
            <li>Consciousness is expirienced as a trinity of Knowing, Feeling and Doing.</li>
            <li>Consciousness is synergy, everytime you have two party of the trinity,
              the thrid one arises by itself.</li>
            <li>Consciousness is the only thing that is unpredictable and anti-enthropic
              at the same time.</li>
          </ul>
        </li>

        <li>
          <b>The Process of Being</b>
          <br/>
          <ul>
            <li>Nothing does not exist and is an error in perception of the mind.</li>
            <li>We expirience the Process of existance through Truth, Love and Consciousness.</li>
            <li>Everything that makes you a less truthfull, authentic, loving, uncreative and unaware person,
              can not be good, because it disconnects you from the Process of Being itself.</li>
            <li>We experience God through the Process of Being itself.</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
